@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	display: flex;
	justify-content: center;
}

h1 {
	font-family: "Lalezar", cursive;
	font-size: 3em;
}

form {
	padding: 16px 0px;
}

.container {
	padding: 2em;
}

.start-container,
.end-container {
	display: flex;
	flex-direction: column;
	padding: 8px 0px;
}

.submit-btn {
	padding: 4px 0px;
	margin-top: 16px;
	width: 100%;
}
